.academicsPage {
    padding-bottom: 40px;
}

.academics {
    width: 100%;
    margin:0px 0px 18px 0px;
    font-family: "Roboto", sans-serif;
}

.academics > p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 23.44px;
    font-weight: 900;
    opacity: 0.8;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 16px;
}

.academicFieldItem {
    margin:0px;
    padding: 0px;
}

.academicFieldItem > img {
    width: 80px;
    height: 94px;
}

.academicFieldItem > p {
    font-size: 12px;
    line-height: 14.06px;
    font-weight: 900;
    opacity: 0.8;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}