.myBooksPage {
    margin: 0px;
    padding-top: 83px;
    width: 411px;
    text-align: left;
    height: 950px
}

.continue {
    text-align: left;
    font-weight: 900;
    font-size: 18px;
    line-height: 21.09px;
    opacity: 0.7;
    margin-left: 11px;
}

.book {
    margin: 12px;
    font-family: 'Roboto', sans-serif;
    margin-right: 43px;
    padding: 0px;
}

.book > a {
    text-decoration: none;
    color: inherit;
}

.book > a:visited, a:link {
    text-decoration: none;
    color: inherit;
}

.book > div:nth-child(1) {
    margin: 0px;
}

.bookImg {
    width: 98px;
    height: 145px;
    border-radius: 4px;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

.bookTilte {
    font-size: 12px;
    font-weight: 900;
    line-height: 14.06px;
    opacity: 0.7;
    text-align: left;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.bookAuthor {
    font-size: 9px;
    line-height: 10.55px;
    font-weight: 400;
    text-align: left;
    margin-top: 2px;
    padding: 0px;
    opacity: 0.7;
}

.booksNavigationLinks {
    margin-left: 11px;
}

.arrow {
    width: 6px;
    height: 12px;
}

.allBooks {
    text-decoration: none;
    color: black;
    opacity: 0.7;
    font-size: 18px;
    line-height: 21.09px;
    font-weight: 900;
    width: 100%;
    display: grid;
    grid-template-columns: 92% 7%;
    margin-bottom: 0px;
    margin-top: 12px;
}

.allBooks > :nth-child(2) {
    margin: auto;
}

.allBooks > p {
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.readingLinks {
    text-decoration: none;
    color: black;
    opacity: 0.9;
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 700;
    width: 92%;
    display: grid;
    grid-template-columns: 5% 85% 5% 5%;
    gap: 5px;
    margin: 0px 15px;
}

.readingLinks > :nth-child(2n + 1){
    margin: auto;
    opacity: 1.2;
}

.readingLinks > .text {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 4px;
    opacity: 0.8;
}

.readingLinks > .count{
    margin-top: 6px;
    opacity: 0.8;
}

.readingLinks > img {
    margin-top: 8px;
}

.linkOpacity {
    opacity: 2;
}
