.bookCoverPage {
    background-color: rgba(0, 0, 0, 0.9);
    width: 411px;
    height: 970px;
    margin: auto;
    padding: 0px;
    margin-bottom: 0px;
}

.bookCoverPage > img{
    width: 266px;
    height: 399px;
    top: 149px;
    position: relative;
    left: 0px;
    border-radius: 10px;
    margin:auto;
    z-index: 1;
    border: 0px;
}

.bookCoverPage > .closeIcon {
    top: 120px;
    position: relative;
    margin-left: 290px;
    font-size: 0px;
    color: white;
}

.bookCoverPage > .closeIcon:hover {
    cursor: pointer;
}

.readDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    font-size: 12px;
    line-height: 14.06px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.readList {
    width: 85px;
    height: 52px;
    top: 180px;
    position: relative;
    left: 90px;
}

.readNow {
    width: 85px;
    height: 52px;
    top: 180px;
    position: relative;
    text-align: center;
    left: 36px;
}

.readNow > p {
  display: flex;
}

.readList, .readNow:hover {
    cursor: pointer;
}