.homePage {
    height: 950px;
    background-color: white;
}

.mainContent {
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
    background-color: white;
}
.userBookList, .userReadList {
    margin-bottom: 18px;
}

.carouselParent {
    overflow: hidden;
}

.carouselParent .rec.rec-slider-container {
    overflow: visible;
}

.resumeReadingCarousel {
    text-align: left;
    width: 100%;
    
}

.div {
    width: 209px;
    margin: 0px 15px;
}

.resumeReadingCarousel > .rec.rec-slider-container {
    overflow: visible;
}

.resumeReadingCarousel > .rec.rec-carousel-item {
    width: 209px
}

.resumeReadingTitle {
    font-size:  20px;
    font-weight: 900;
    line-height: 23.44px;
    text-align: left;
    color: black;
    opacity: 0.8;
    padding: 0px;
}

.exploreCategoriesDiv {
    display: grid;
    grid-template-columns: 90% 10%;
    width: 100%;
    margin: auto;
    padding-bottom: 12px;
}


.exploreCategoriesDiv > svg {
    text-align: right;
    margin: auto;
    color: #13ABE6;
    height: 28px;
    width: 28px;
}

