.recom-parent{
display: flex;
gap: 20px;
/* margin-top: 400px; */
}
.recom{
    /* position: absolute; */
    width: 132px;
    height: 140px;
    left: 40px;
    top: 548px;
    
    /* background: #F2AA4C; */
    /* opacity: 0.2; */
    border-radius: 10px;
}
.recom-img{
    /* position: absolute; */
    width: 89px;
    height: 130px;
    left: 61px;
    top: 553px;
    margin-left: 20px;
    margin-top:5px ;
    
    /* background: url(recom-image1.png); */
    border-radius: 8px;
}
.tag{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    
    
    color: #141414;
}
.author{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    /* identical to box height */
    
    
    color: #000000;
    
    opacity: 0.6;
}