.seekhoLogoPage {
    width: 411px;
    height: 940px;
    top: 0px;
    margin: 0px;
    padding: 0px;
}

.seekho {
    width: 83.57px;
    height: 83.57px;
    margin: 0px;
    padding: 0px;
    margin-top: 270px;
}